body {
    background-color: rgb(201, 235, 223);
    font-family: Arial, sans-serif;        /* Set the font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

#game-site {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    border: 50px solid green;
}

.row {
    display: flex;
}

.pod {
    width: 50px;
    height: 50px;
    /* border: thin solid #444; */
    border-radius: 25px;
    background-color: rgb(194, 235, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.pod:has(div) {
    background-color: lightgreen;
}

/* Add styles for a person that will be moving through the blocks, the person is a div */
.person {
    width: 45px;
    height: 45px;
    background-color: #FCB432;
    border-radius: 50%;
    box-shadow: 0 0 10px #FCB432;
}

.person.Helper{
    background-color: lime;
    box-shadow: 0 0 10px darkgreen;
}

/* Add styles for person-details that will make sure it is fixed at the top left */
#person-details {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #FCB432;
    border-radius: 7px;
    /* box-shadow: 0 0 10px #FCB432; */
    display: flex;
    flex-direction: row;
    height: 40px;
}

#person-details tr, #person-details tbody {
    display: flex;
    flex-direction: row;
}

#person-details td:first-child {
    color: green;
}

#person-details td[id]{
    border-right: 4px double #fff;
    margin-right: 4px;
    padding-right: 4px;
}